    body {  color:White;
            background-color: #99cccc;
            background-image: url(islandimage2.jpg);
            background-repeat:no-repeat;
            background-size: 125%;
         }
         

